################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/DestinationboardCommunicationLibrary/.vs/DestinationboardCommunicationLibrary
/DestinationboardCommunicationLibrary/DestinationboardCommunicationLibrary/bin/Debug/net5.0
/DestinationboardCommunicationLibrary/DestinationboardCommunicationLibrary/obj
